@import "./_vars.less";

@{NAMESPACE} {
  &__line {
    display: block;
    border-bottom: #f1f1f1 solid 1px;
    margin: 10px 0;
  }

  &__close {
    font-size: 1.5em;
    cursor: pointer;
    color: #999;
    background: transparent;
    border: 0;
    outline: none;

    &:hover {
      color: #333;
    }
  }

  &__app {
    color: #515151;
    flex: 1;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
  }
  &__app &__button {
    margin-left: 5px;
  }

  &__app__top-bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 2px 5px #ccc;
  }

  &__app__top-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__app__top-tab {
    font-size: 1.05em;
    margin: 0 10px;
    line-height: 47px;
    cursor: pointer;
    border-bottom: transparent solid 3px;

    &--active {
      color: @PRIMARY_COLOR;
      border-bottom-color: @PRIMARY_COLOR;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    margin-top: 15px;
    overflow: auto;
  }
  &__sidebar {
    width: 250px;
    overflow: auto;
  }
  &__sidebar--left {
    // border-right: #f1f1f1 solid 1px;
    // box-shadow: 0 5px 5px #ccc;
    margin-right: 10px;
  }
  &__sidebar--right {
    // border-left: #f1f1f1 solid 1px;
    display: flex;
    flex-direction: column;
    // box-shadow: 0 -5px 5px #ccc;
    margin-left: 10px;
  }
  &__sidebar--right &__form--aside {
    flex: 1;
    overflow: auto;
  }
  &__sidebar--small {
    width: 150px;
  }
  &__main {
    flex: 1;
  }
  &__sidebar-close {
    padding: 10px;
    text-align: right;
  }
}
